---
const { links } = Astro.props;
---

<section>
    <h2 class="text-3xl font-bold text-[#05080b] mb-6">Social Links</h2>
    <div class="flex flex-wrap gap-3">
        {
            links.map((link: { name: string; url: string }) => (
                <a
                    href={link.url}
                    target="_blank"
                    class="bg-[#103a62] text-white px-6 py-3 rounded-lg font-medium hover:bg-[#103a62]/90 transition-colors cursor-pointer"
                >
                    {link.name}
                </a>
            ))
        }
    </div>
</section>
